@import "defaults";
@import "normalize";

@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "compass/css3/box-shadow";

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html {
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: 0;
    @include copy;
    color: #444;
}



a {
    color: $red;
    @include transition;
    &:hover, &:visited:hover {
        color: darken($red, 20%);
    }
    &:visited {
        color: lighten($red, 15%);
    }
}


.wrap {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    @media screen and (min-width: 32em) {
        width: 30em;
    }
    @media screen and (min-width: 62.236em) {
        width: 1000px;
    }
    @include clearfix;
}


// narrow
// no media queries
.content {
    padding: 0.809em;
    max-width: 30em;
    margin: auto;
    &>h1 {
        font-weight: normal;
        color: #ccc;
        font-size: 0.8em;
        a {
            color: #ccc;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    #description {
        @include titling;
        font-weight: normal;
        font-size: 2em;
        &.loading {
            -webkit-animation: throb 1s infinite alternate linear;
            -moz-animation:    throb 1s infinite alternate linear;
            -ms-animation:     throb 1s infinite alternate linear;
            -o-animation:      throb 1s infinite alternate linear;
        }
    }
    .apology {
        font-style: italic;
        color: #aaa;
    }
}

article {
    &>h1:first-child {
        display: none;
    }
    h1, h2, h3, h4, h5 {
        font-weight: normal;
        margin-top: 2em;
        color: black;
    }

    h1, h2 {
        font-size: 1.5em;
    }
    h3 {
        @include titling;
        font-weight: normal;
        text-transform: lowercase;
    }
    h4 {
        font-size: 1em;
        font-style: italic;
    }
    h5 {
        font-style: normal;
    }
    ul, ol {
        list-style-position: outside;
        padding: 0;
    }
    blockquote {
        margin: 0;
        padding-left: 1em;
        border-left: 1px solid #aaa;
    }
    img, object, video, audio, figure, iframe {
        max-width: 100%;
    }
}


@media all and (min-width: 33.236em) {
    // linear
    @media screen and (min-width: 30em) and (max-width: 63.236em) {
        .content {
            width: 30em;
        }
    }

    // full
    .content {
        padding: 1.618em;
        margin: 0 auto;
        max-width: 45rem;
        font-size: 1.25em;
    }
}


@-webkit-keyframes throb {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}
@-moz-keyframes throb {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}
@-ms-keyframes throb {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}
@-o-keyframes throb {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}

