// Defaults ------------------------------------------------------------------
$default-transition-duration: 0.25s;

@mixin copy {
    font-family: 'Sentinel SSm A', 'Sentinel SSm B', Georgia, serif;
}

@mixin titling {
    font-family: 'Tungsten A', 'Tungsten B';
}

$link: #4da7ca;