@import "defaults";
@import "bourbon/bourbon";


@mixin vector-bg-with-fallback($name) {
  background-image: url('../img/#{$name}.png');
  background-image: none, url('../img/#{$name}.svg');
}


* {
    @include box-sizing(border-box);
}


html {
    background-color: #fff;
    padding: 0;
    margin: 0;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    padding: 1em;
    margin: 0;
    @include copy;
    color: #444;
    font-weight: 300;
}



a {
    color: $link;
    @include transition;
    &:hover, &:visited:hover {
        color: darken($link, 20%);
    }
    &:visited {
        color: lighten($link, 15%);
    }
}


// narrow
// no media queries
.content {
    padding: 0.809em;
    max-width: 30em;
    margin: auto;
    #gistid {
        font-weight: normal;
        color: #ccc;
        font-size: 0.8em;
        a {
            color: #ccc;
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    #description {
        @include titling;
        font-weight: 500;
        font-size: 5em;
        text-transform: uppercase;
        line-height: 1em;
        &.loading {
            -webkit-animation: throb 1s infinite alternate linear;
            -moz-animation:    throb 1s infinite alternate linear;
            -ms-animation:     throb 1s infinite alternate linear;
            -o-animation:      throb 1s infinite alternate linear;
        }
    }
    .apology {
        font-style: italic;
        color: #aaa;
    }
    &>footer {
        margin-top: 4em;
        margin-bottom: 2em;
        border-top: 1px solid #eee;
        display: none;
        &.forceshow {
            display: block;
        }
        p {
            font-size: 0.8em;
            color: #888;
            font-style: italic;
            .poweredby {
                display: inline-block;
                margin-right: 1em;
            }
        }

    }
}

article {
    &>h1:first-child {
        display: none;
    }
    h1, h2, h3, h4, h5 {
        font-weight: 300;
        margin-top: 2em;
        color: black;
    }

    h1, h2 {
        font-size: 1.5em;
    }
    h3 {
        font-weight: 400;
        font-size: 0.925em;
        margin-top: 3em;
        text-transform: uppercase;
    }
    h4, h5, h6 {
        font-weight: 400;
        font-size: 0.925em;
        margin-top: 3em;
        font-style: italic;
    }
    ul, ol {
        list-style-position: outside;
        padding: 0;

        li ul, li ol {
            margin-left: 1.5em;
        }
    }
    blockquote {
        margin: 0;
        padding-left: 1em;
        border-left: 1px solid #ddd;
    }
    ul, ol, p, blockquote {
        line-height: 1.55em;
    }
    img, object, video, audio, figure, iframe {
        max-width: 100%;
        height: auto;
        width: auto;
    }
    pre, code, samp {
        font-family: 'Source Code Pro', monospace;
    }
    .highlight {
        padding: 0.1em 0.5em;
        background: #1d1f21;
        font-size: 0.88em
    }
}


@media all and (min-width: 33.236em) {
    // linear
    @media screen and (min-width: 30em) and (max-width: 63.236em) {
        .content {
            width: 30em;
        }
    }

    // full
    .content {
        padding: 1.618em;
        margin: 0 auto;
        max-width: 45rem;
        font-size: 1.125em;
    }
}


@-webkit-keyframes throb {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}
@-moz-keyframes throb {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}
@-ms-keyframes throb {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}
@-o-keyframes throb {
    0%   { opacity: 0.25; }
    100% { opacity: 1; }
}


@import "pygments/tomorrow_night";
