{% extends "base.html" %}

{% block title %}gist.io &middot; #{{ gist_id }}{% endblock %}

{% block content %}
    <!-- <h1>Loading Gist #{{ gist_id }}…</h1> -->
    <section class="content">
        <header>
            <h1 id="gistid"><a href="https://gist.github.com/{{ gist_id }}">gist #{{ gist_id }}</a></h1>
            <h2 id="description" class="loading instapaper-title entry-title">Loading…</h2>
        </header>
        <div id="gistbody" class="instapaper-body entry-content"></div>
        <footer>
            <p><a href="/">gist.io</a> &middot; writing for hackers &middot; zero setup &middot; publish in seconds</p>
        </footer>
    </section>
{% endblock %}

{% block js %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}static/js/libs/jquery-1.7.2.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}static/js/gistio.js"></script>
<script>
    $(function() {
        Gisted.gist({{gist_id}});
    });
</script>
{% endblock js %}

{% block extra_head %}
<!-- start Mixpanel --><script type="text/javascript">(function(c,a){var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?g=
a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1;window.mixpanel=a})(document,window.mixpanel||[]);
mixpanel.init("cdccad1e2f832db3db36d2168356aac8");</script><!-- end Mixpanel -->
{% endblock %}