{% extends "base.html" %}

{% block content %}
    <section class="content">
        <h1><a href="/">home</a></h1>
        <h2 id="description">gist.io: writing for hackers</h2>
        <article>
            <h1>About gist.io</h1>
            <p>There's a scale of permanence to writing. On one end, we have the tweet: brief and ephemeral. On the other end of the scale, we have longform blog writing: unlimited in length and hopefully impervious to the passage of time.</p>
            <p>Sometimes, we just want to share a bit of writing that is neither. Maybe we want to write for a specific audience, but don’t want to address the people who usually read our blogs. Maybe it’s just something that doesn’t fit into 140 characters.</p>
            <p>For these situations, even setting up a Tumblr seems like too much effort. Pastebins are great, but the reading experience sucks in general, and particularly on mobile devices.</p>
            <p>Gist.io is a solution for that, inspired by Mike Bostock’s delightful <a href="http://bl.ocks.org/">bl.ocks.org</a>. Usage is simple:</p>
            <ol>
                <li><a href="https://gist.github.com">Create a public gist</a> on Github with one or more <a href="http://daringfireball.net/projects/markdown/">Markdown</a>-syntax files.</li>
                <li>Note the gist ID number. It’s usually a longish number like <code>29388372</code>.</li>
                <li>View your writing presented nicely at gist.io/<em>gist-id-here</em></li>
            </ol>
            <p>Right now the service supports writing, and that's it. The gist's <em>description</em> field will be used as the title for your writing. You should structure your writing such that the highest-level heading is an H2, as the post title will be a first-level heading. Check out the <a href="http://gist.io/3135754">example post</a> for more clues on what you can and should do when writing for gist.io.</p>
            <p>Happy writing!</p>
            <p>Idan Gazit</p>
            <p><em><a href="http://gazit.me">Web</a> / <a href="http://twitter.com/idangazit">Twitter</a> / <a href="http://github.com/idan">Github</a></em></p>
        </article>
    </section>
{% endblock %}