.hll { background-color: #ffffcc }
.c { color: #5F5A60; font-style: italic } /* Comment */
.err { border: 1px solid #B22518 } /* Error */
.k { color: #CDA869; font-weight: bold } /* Keyword */
.o { color: #F8F8F8 } /* Operator */
.cm { color: #5F5A60; font-style: italic } /* Comment.Multiline */
.cp { color: #5F5A60; font-style: italic } /* Comment.Preproc */
.c1 { color: #5F5A60; font-style: italic } /* Comment.Single */
.cs { color: #5F5A60; font-style: italic } /* Comment.Special */
.gd { color: #F8F8F8; background-color: #420E09 } /* Generic.Deleted */
.ge { font-style: italic } /* Generic.Emph */
.gr { color: #F8F8F8; background-color: #B22518 } /* Generic.Error */
.gh { color: #000080; font-weight: bold } /* Generic.Heading */
.gi { color: #F8F8F8; background-color: #253B22 } /* Generic.Inserted */
.go { color: #F8F8F8 } /* Generic.Output */
.gp { color: #F8F8F8; font-weight: bold } /* Generic.Prompt */
.gs { font-weight: bold } /* Generic.Strong */
.gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.gt { color: #F8F8F8 } /* Generic.Traceback */
.kc { color: #CDA869; font-weight: bold } /* Keyword.Constant */
.kd { color: #CDA869; font-weight: bold } /* Keyword.Declaration */
.kn { color: #CDA869; font-weight: bold } /* Keyword.Namespace */
.kp { color: #9B703F } /* Keyword.Pseudo */
.kr { color: #CDA869; font-weight: bold } /* Keyword.Reserved */
.kt { color: #CDA869 } /* Keyword.Type */
.m { color: #CF6A4C } /* Literal.Number */
.s { color: #8F9D6A } /* Literal.String */
.na { color: #F9EE98 } /* Name.Attribute */
.nb { color: #CDA869 } /* Name.Builtin */
.nc { color: #9B859D; font-weight: bold } /* Name.Class */
.no { color: #9B859D } /* Name.Constant */
.nd { color: #7587A6 } /* Name.Decorator */
.ni { color: #CF6A4C; font-weight: bold } /* Name.Entity */
.nf { color: #9B703F; font-weight: bold } /* Name.Function */
.nn { color: #9B859D; font-weight: bold } /* Name.Namespace */
.nt { color: #CDA869; font-weight: bold } /* Name.Tag */
.nv { color: #7587A6 } /* Name.Variable */
.ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.w { color: #141414 } /* Text.Whitespace */
.mf { color: #CF6A4C } /* Literal.Number.Float */
.mh { color: #CF6A4C } /* Literal.Number.Hex */
.mi { color: #CF6A4C } /* Literal.Number.Integer */
.mo { color: #CF6A4C } /* Literal.Number.Oct */
.sb { color: #8F9D6A } /* Literal.String.Backtick */
.sc { color: #8F9D6A } /* Literal.String.Char */
.sd { color: #8F9D6A; font-style: italic } /* Literal.String.Doc */
.s2 { color: #8F9D6A } /* Literal.String.Double */
.se { color: #F9EE98; font-weight: bold } /* Literal.String.Escape */
.sh { color: #8F9D6A } /* Literal.String.Heredoc */
.si { color: #DAEFA3; font-weight: bold } /* Literal.String.Interpol */
.sx { color: #8F9D6A } /* Literal.String.Other */
.sr { color: #E9C062 } /* Literal.String.Regex */
.s1 { color: #8F9D6A } /* Literal.String.Single */
.ss { color: #CF6A4C } /* Literal.String.Symbol */
.bp { color: #CDA869 } /* Name.Builtin.Pseudo */
.vc { color: #7587A6 } /* Name.Variable.Class */
.vg { color: #7587A6 } /* Name.Variable.Global */
.vi { color: #7587A6 } /* Name.Variable.Instance */
.il { color: #CF6A4C } /* Literal.Number.Integer.Long */
