body {
  font-family: 'ElenaWebBasic', 'Merriweather', serif;
}

h1, h2, h3 {
  font-family: 'Lato', sans-serif;
}

code {
  font-family: 'Source Code Pro', 'Anonymous Pro', monospace;
  font-size: 1.25rem;
}

.content p, .content ul, .content ol {
  line-height: 1.5;
}
